[color]
	ui = auto
[user]
	name = Bob.Zhao
	email = bob.zhao@infomax.com.tw
[alias]
	co = checkout
	br = branch
	cm = commit
	cmam = commit -am
	st = status
    sh = show
    di = diff
    ldi = diff HEAD^
    rst = reset
    rb = rebase
    sbm = submodule
    cfg = config
    ft = fetch
    mg = merge
    ps = push
    pl = pull
    rem = remote
	unstage = reset HEAD --
	last = log -1 HEAD
    lgp = log --format='format:%Cgreen%ai %Cred%h %Cgreen%cn  %Creset%s'
[diff]
    tool = meld
[difftool]
    prompt = yes
