[Desktop Entry]
Encoding=UTF-8
Name=Blueman Applet
Name[be]=Аплет Blueman
Name[bg]=Аплет Blueman
Name[bs]=Blueman Aplet
Name[cs]=Blueman Applet
Name[da]=Blueman panelprogram
Name[de]=Blueman-Applet
Name[el]=Μικροεφαρμογή Blueman
Name[en_GB]=Blueman Applet
Name[es]=Miniaplicación Blueman
Name[et]=Blueman rakend
Name[fi]=Blueman-sovelma
Name[fr]=Applet Blueman
Name[gl]=Miniaplicativo Blueman
Name[hr]=Blueman programčić
Name[hu]=Blueman Alkalmazás
Name[it]=Blueman Applet
Name[ja]=Bluemanアプレット
Name[lt]=Blueman įskiepis
Name[nl]=Blueman Applet
Name[pl]=Applet Blueman
Name[pt]=Applet Blueman
Name[ru]=Апплет Blueman
Name[sv]=Panelprogrammet Blueman
Name[tr]=Blueman Programcığı
Name[uk]=Аплет Blueman
Name[zh_CN]=Blueman Applet
Name[zh_TW]=Blueman Applet
Comment=Blueman Bluetooth Manager
Comment[ar]=Blueman مدير بلوتوث
Comment[be]=Blueman Bluetooth Кіраўнік
Comment[bg]=Blueman Мениджър на Bluetooth
Comment[ca]=Gestor Bluetooth Blueman
Comment[cs]=Správce Bluetooth Blueman
Comment[da]=Blueman bluetooth håndtering
Comment[de]=Blueman Bluetooth-Manager
Comment[el]=Blueman διαχειριστής Bluetooth
Comment[en_GB]=Blueman Bluetooth Manager
Comment[es]=Administrador Bluetooth Blueman
Comment[et]=Blueman Bluetoothi haldur
Comment[fi]=Blueman bluetooth-hallinta
Comment[fr]=Gestionnaire Bluetooth Blueman
Comment[gl]=Xestor de bluetooth Blueman
Comment[he]=מנהל בלוטות' Blueman
Comment[hr]=Blueman Bluetooth upravitelj
Comment[hu]=Blueman Bluetooth kezelő
Comment[id]=Blueman Manager Bluetooth
Comment[it]=Blueman Gestore Bluetooth
Comment[ja]=Blueman Bluetooth Manager
Comment[lt]=Blueman Bluetooth Tvarkyklė
Comment[nb]=Blueman Bluetooth Manager
Comment[nl]=Blueman Bluetooth Beheerder
Comment[pl]=Menedżer Bluetooth Blueman
Comment[pt]=Gestor de Bluetooth Blueman
Comment[pt_BR]=Blueman - Gerenciador Bluetooth
Comment[ro]=Administratorul Bluetooth Blueman
Comment[ru]=Менеджер Bluetooth Blueman
Comment[sk]=Blueman Správca Bluetooth
Comment[sv]=Blåtandshanteraren Blueman
Comment[tr]=Blueman Bluetooth Yöneticisi
Comment[uk]=Менеджер bluetooth Blueman
Comment[vi]=Blueman - Trình quản lý Bluetooth
Comment[zh_CN]=Blueman蓝牙管理器
Comment[zh_TW]=Blueman 藍牙裝置管理軟體
Icon=blueman
Exec=blueman-applet
Terminal=false
Type=Application
Categories=
X-GNOME-Autostart-enabled=false
Hidden=True